<!-- Make the logo smaller from slide 1 onward -->
<script type="text/javascript">
  Reveal.addEventListener('slidechanged', function(event) {
      if (event.indexh == 0) {
	  document.getElementById('logowg').style.width='20%'
	  document.getElementById('logocc').style.top='10%'
	  document.getElementById('logocc').style.left='7.5%'
	  document.getElementById('logocc').style.width='15%'
      }
      if (event.indexh == 1) {
	  document.getElementById('logowg').style.width='13%'
	  document.getElementById('logocc').style.top='7%'
	  document.getElementById('logocc').style.left='5%'
	  document.getElementById('logocc').style.width='9%'
      }
  });
</script>

<img id="logowg" src="{{ .Param "logowg.src" }}" alt="{{ .Param "logowg.alt" }}">
<style>
  #logowg {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 20%;
  }
</style>

<img id="logocc" src="{{ .Param "logocc.src" }}" alt="{{ .Param "logocc.alt" }}">
<style>
  #logocc {
    position: absolute;
    top: 10%;
    left: 7.5%;
    width: 15%;
  }
</style>

<div id="rectangle"></div>
