<!-- Make the logo smaller from slide 1 onward -->
<script type="text/javascript">
    Reveal.addEventListener('ready', function(event) {
        if (event.indexh == 0) {
  	  document.getElementById('logowg').style.position='absolute'
  	  document.getElementById('logowg').style.top='0.5%'
  	  document.getElementById('logowg').style.left='0.5%'
  	  document.getElementById('logowg').style.width='20%'
  	  document.getElementById('logocc').style.position='absolute'
  	  document.getElementById('logocc').style.top='10%'
  	  document.getElementById('logocc').style.left='7.5%'
  	  document.getElementById('logocc').style.width='15%'
        }
        if (event.indexh != 0) {
  	  document.getElementById('logowg').style.position='absolute'
  	  document.getElementById('logowg').style.top='0.5%'
  	  document.getElementById('logowg').style.left='0.5%'
  	  document.getElementById('logowg').style.width='13%'
  	  document.getElementById('logocc').style.position='absolute'
  	  document.getElementById('logocc').style.top='7%'
  	  document.getElementById('logocc').style.left='5%'
  	  document.getElementById('logocc').style.width='9%'
        }
    });
  </script>

<!-- Make the logo smaller from slide 1 onward -->
<script type="text/javascript">
    Reveal.addEventListener('slidechanged', function(event) {
        if (event.indexh == 0) {
  	  document.getElementById('logowg').style.position='absolute'
  	  document.getElementById('logowg').style.top='0.5%'
  	  document.getElementById('logowg').style.left='0.5%'
  	  document.getElementById('logowg').style.width='20%'
  	  document.getElementById('logocc').style.position='absolute'
  	  document.getElementById('logocc').style.top='10%'
  	  document.getElementById('logocc').style.left='7.5%'
  	  document.getElementById('logocc').style.width='15%'
        }
        if (event.indexh != 0) {
  	  document.getElementById('logowg').style.position='absolute'
  	  document.getElementById('logowg').style.top='0.5%'
  	  document.getElementById('logowg').style.left='0.5%'
  	  document.getElementById('logowg').style.width='13%'
  	  document.getElementById('logocc').style.position='absolute'
  	  document.getElementById('logocc').style.top='7%'
  	  document.getElementById('logocc').style.left='5%'
  	  document.getElementById('logocc').style.width='9%'
        }
    });
  </script>

<!-- <\!-- Make the logo smaller from slide 1 onward -\-> -->
<!-- <script type="text/javascript"> -->
<!--   Reveal.addEventListener('titlepage', function() { -->
<!--       document.getElementById('logowg').style.position='absolute' -->
<!--       document.getElementById('logowg').style.top='0.5%' -->
<!--       document.getElementById('logowg').style.left='0.5%' -->
<!--       document.getElementById('logowg').style.width='20%' -->
<!--       document.getElementById('logocc').style.position='absolute' -->
<!--       document.getElementById('logocc').style.top='10%' -->
<!--       document.getElementById('logocc').style.left='7.5%' -->
<!--       document.getElementById('logocc').style.width='15%' -->
<!--   }, false ); -->
<!-- </script> -->

<!-- <\!-- Make the logo smaller from slide 1 onward -\-> -->
<!-- <script type="text/javascript"> -->
<!--   if Reveal.addEventListener('titlepage', function() { -->
<!--       document.getElementById('logowg').style.position='absolute' -->
<!--       document.getElementById('logowg').style.top='0.5%' -->
<!--       document.getElementById('logowg').style.left='0.5%' -->
<!--       document.getElementById('logowg').style.width='20%' -->
<!--       document.getElementById('logocc').style.position='absolute' -->
<!--       document.getElementById('logocc').style.top='10%' -->
<!--       document.getElementById('logocc').style.left='7.5%' -->
<!--       document.getElementById('logocc').style.width='15%' -->
<!--   }, function() { -->
<!--       document.getElementById('logowg').style.position='absolute' -->
<!--       document.getElementById('logowg').style.top='0.5%' -->
<!--       document.getElementById('logowg').style.left='0.5%' -->
<!--       document.getElementById('logowg').style.width='13%' -->
<!--       document.getElementById('logocc').style.position='absolute' -->
<!--       document.getElementById('logocc').style.top='7%' -->
<!--       document.getElementById('logocc').style.left='5%' -->
<!--       document.getElementById('logocc').style.width='9%' -->
<!--   }); -->
<!-- </script> -->

<!-- <\!-- Make the logo smaller from slide 1 onward -\-> -->
<!-- <script type="text/javascript"> -->
<!--   Reveal.addEventListener('otherpage', function() { -->
<!--       document.getElementById('logowg').style.position='absolute' -->
<!--       document.getElementById('logowg').style.top='0.5%' -->
<!--       document.getElementById('logowg').style.left='0.5%' -->
<!--       document.getElementById('logowg').style.width='13%' -->
<!--       document.getElementById('logocc').style.position='absolute' -->
<!--       document.getElementById('logocc').style.top='7%' -->
<!--       document.getElementById('logocc').style.left='5%' -->
<!--       document.getElementById('logocc').style.width='9%' -->
<!--   }, false ); -->
<!-- </script> -->

<!-- Make the logo smaller from slide 1 onward -->
<!-- <script type="text/javascript"> -->
<!--   Reveal.addEventListener('ready', function(event) { -->
<!--       if (event.indexh == 0) { -->
<!--   	  document.getElementById('logowg').style.position='absolute' -->
<!--   	  document.getElementById('logowg').style.top='0.5%' -->
<!--   	  document.getElementById('logowg').style.left='0.5%' -->
<!--   	  document.getElementById('logowg').style.width='20%' -->
<!--   	  document.getElementById('logocc').style.position='absolute' -->
<!--   	  document.getElementById('logocc').style.top='10%' -->
<!--   	  document.getElementById('logocc').style.left='7.5%' -->
<!--   	  document.getElementById('logocc').style.width='15%' -->
<!--       } -->
<!--       if (event.indexh != 0) { -->
<!--   	  document.getElementById('logowg').style.position='absolute' -->
<!--   	  document.getElementById('logowg').style.top='0.5%' -->
<!--   	  document.getElementById('logowg').style.left='0.5%' -->
<!--   	  document.getElementById('logowg').style.width='13%' -->
<!--   	  document.getElementById('logocc').style.position='absolute' -->
<!--   	  document.getElementById('logocc').style.top='7%' -->
<!--   	  document.getElementById('logocc').style.left='5%' -->
<!--   	  document.getElementById('logocc').style.width='9%' -->
<!--       } -->
<!--   }); -->
<!-- </script> -->


<img id="logowg" src="{{ .Param "logowg.src" }}" alt="{{ .Param "logowg.alt" }}">
<style>
    #logowg {
      position: absolute;
      top: 0.5%;
      left: 0.5%;
      width: 20%;
    }
  </style>

<img id="logocc" src="{{ .Param "logocc.src" }}" alt="{{ .Param "logocc.alt" }}">
<style>
    #logocc {
      position: absolute;
      top: 10%;
      left: 7.5%;
      width: 15%;
    }
  </style>

<!-- <img id="logowg" src="{{ .Param "logowg.src" }}" alt="{{ .Param "logowg.alt" }}"> -->
<!-- <style> -->
<!--   #logowg { -->
<!--     position: absolute; -->
<!--     top: 0.5%; -->
<!--     left: 0.5%; -->
<!--     width: 13%; -->
<!--   } -->
<!-- </style> -->

<!-- <img id="logocc" src="{{ .Param "logocc.src" }}" alt="{{ .Param "logocc.alt" }}"> -->
<!-- <style> -->
<!--   #logocc { -->
<!--     position: absolute; -->
<!--     top: 7%; -->
<!--     left: 5%; -->
<!--     width: 9%; -->
<!--   } -->
<!-- </style> -->

<img id="logowgfix" src="{{ .Param "logowgfix.src" }}">
<style>
  #logowgfix {
    position: absolute;
    top: 2%;
    left: 1.5%;
    width: 15%;
  }
</style>

<img id="logogit" src="{{ .Param "logogit.src" }}">
<style>
  #logogit {
    position: absolute;
    top: 4.4%;
    left: 14.15%;
    width: 0.8%;
  }
</style>

<img id="logogithalfpage" src="{{ .Param "logogithalfpage.src" }}">
<style>
  #logogithalfpage {
    position: absolute;
    top: 3.4%;
    left: 14.11%;
    width: 0.8%;
  }
</style>

<div id="rectangle"></div>

<div id="navinfo">
  Use the left and right arrow keys to navigate the presentation
</div>

<!-- Make the note about navigation disappear from slide 1 onward -->
<script type="text/javascript">
  Reveal.addEventListener('slidechanged', function(event) {
      document.getElementById('navinfo').style.display='none'
  });
</script>
