// Base settings for all themes that can optionally
// be overridden by the super-theme

// Background of the presentation
// $backgroundColor: #fffaf6;
// $backgroundColor: #fcfcfc;
$backgroundColor: #f3f3fc;

// Primary/body text
// $mainFont: 'Domine', Georgia, serif;
$mainFont: 'Ibarra Real Nova', serif;
$mainFontSize: 29px;
$mainColor: #272a2a;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
// $headingFont: Lato, Helvetica, sans-serif;
$headingFont: 'Ibarra Real Nova', serif;
$heading1Color: #000;
$heading2Color: #383D3D;
$heading3Color: #584f1e;
$heading4Color: #426456;
$heading5Color: #644f67;
$heading6Color: #463847;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
// $headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 4.0rem;
$heading2Size: 3.5rem;
$heading3Size: 3.0rem;
$heading4Size: 2.5rem;
$heading5Size: 2.0rem;
$heading6Size: 1.8rem;

// Links and actions
$linkColor: #336699;
$linkColorVisited: #6d3caa;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #26351C;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
