// Base settings for all themes that can optionally
// be overridden by the super-theme

// Background of the presentation
$backgroundColor: #f3f3fc;

// Primary/body text
$mainFont: 'Ibarra Real Nova', serif;

$mainFontSize: 29px;

$mainColor: #272a2a;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;

$headingFont: 'Ibarra Real Nova', serif;

$heading1Color: #22232a;
$heading2Color: #383D3D;
$heading3Color: #584f1e;
$heading4Color: #426456;
$heading5Color: #644f67;
$heading6Color: #435069;

$headingLineHeight: 1.2;
$headingLetterSpacing: normal;

$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 4.5rem;
$heading2Size: 3.6rem;
$heading3Size: 3.2rem;
$heading4Size: 2.8rem;
$heading5Size: 2.4rem;
$heading6Size: 2.0rem;

// Links and actions
$linkColor: #336699;
$linkColorVisited: #6d3caa;
$linkColorHover: lighten( $linkColor, 20% );
$linkColorVisitedHover: lighten( $linkColorVisited, 20% );

// Text selection
$selectionBackgroundColor: #26351C;

$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
