// * global style

body {
  @include bodyBackground();
  background-color: $backgroundColor;
}

.reveal {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: normal;
  color: $mainColor;
}

::selection {
  color: $selectionColor;
  background: $selectionBackgroundColor;
  text-shadow: none;
}

::-moz-selection {
  color: $selectionColor;
  background: $selectionBackgroundColor;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
}

// * header

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-align: left;
  margin: $headingMargin;
  font-family: $headingFont;
  font-weight: $headingFontWeight;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  text-transform: $headingTextTransform;
  text-shadow: $headingTextShadow;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: $heading1Size;
  color: $heading1Color;
}
.reveal h2 {
  font-size: $heading2Size;
  color: $heading2Color;
}
.reveal h3 {
  font-size: $heading3Size;
  color: $heading3Color;
}
.reveal h4 {
  font-size: $heading4Size;
  color: $heading4Color;
}
.reveal h5 {
  font-size: $heading5Size;
  color: $heading5Color;
}
.reveal h6 {
  font-size: $heading6Size;
  color: $heading6Color;
}

.reveal h1 {
  text-shadow: $heading1TextShadow;
}

.reveal p {
  margin: $blockMargin 0;
  line-height: 1.3;
  text-align: left;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
}

// * emphasis

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

// * list

.reveal ol,
.reveal dl,
.reveal ul {
  // display: inline-block;
  text-align: left;
  // margin: 0 0 0 1rem;
}

.reveal ol {
  list-style-type: decimal;
  line-height: 3.5rem;
  margin: 2.0rem;
}

.reveal ul {
  list-style-type: circle;
  line-height: 3.5rem;
  margin: 2.0rem;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

// * quote

.reveal blockquote {
  display: block;
  position: relative;
  text-align: left;
  color: #555e5e;
  font-style: italic;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  margin: 30px 0px 30px 50px;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 4px solid #bcc2c2;
}

.reveal q {
  font-style: italic;
}

// * code

.reveal pre {
  display: block;
  position: relative;
  max-width: 100%;
  margin: $blockMargin auto;
  padding: 0.7rem 0.5rem 0.7rem 1.5rem;
  text-align: left;
  line-height: 2.5rem;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.reveal code {
  font-family: monospace;
  text-transform: none;
  font-size: 1.2rem;
  background-color: #fff;
  padding: 0.1rem;
}

.reveal pre code {
  background-color: #fff;
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 300px;
  word-wrap: normal;
}

// * table

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6rem;
  line-height: 1.2rem;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

// * link

.reveal a {
  line-height: 1.3rem;
  color: $linkColor;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}
.reveal a:hover {
  color: $linkColorHover;
  text-shadow: none;
  border: none;
}
.reveal a:visited {
  color: $linkColorVisited;
}
.reveal a:visited:hover {
  color: $linkColorVisitedHover;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: darken( $linkColor, 15% );
}

// * image

.reveal section img {
  // margin: 15px 0px;
  // background: rgba(255,255,255,0.12);
  // border: 4px solid $mainColor;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: rgba(255,255,255,0.2);
  border-color: $linkColor;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

img[alt=logo] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 0.5px solid $mainColor;
}

// * progress bar

#rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #3a3a2c;
}

#navinfo {
  position: absolute;
  bottom: 3%;
  right: 1%;
  font-style: italic;
  color: #252527;
}

#backlink {
  position: absolute;
  top: 2.0%;
  right: 1%;
  // bottom: 3%;
  // left: 1%;
  // font-style: italic;
  font-size: 1.2rem;
  // font-size: 1.0rem;
  font-family: 'Crimson Text', serif;
  font-variant: small-caps;
  a {
    // color: $linkColor;
    // color: #000041;
    color: #203660;
    // color: #58585a;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    // color: $linkColorHover;
    color: $linkColor;
  }
}

.reveal .progress span {
  display: block;
  height: 100%;
  width: 0px;
  background-color: #ff9900;
  // background-color: #00ffff;
  // background-color: #66ccff;
  transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.reveal .progress {
  position: absolute;
  display: none;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba( 0, 0, 0, 0.2 );
  color: #fff;
}

// * print background

@media print {
  .backgrounds {
    background-color: $backgroundColor;
  }
}

// * navigation control

.reveal .controls {
  color: $linkColor;
}

// * slide number

// .reveal .slide-number {
//   position: absolute;
//   display: block;
//   bottom: 5px;
//   left: 5px;
//   z-index: 31;
//   font-family: Helvetica, sans-serif;
//   font-size: 12px;
//   line-height: 1;
//   color: #e68a00;
//   font-weight: bold;
//   background-color: currentColor;
//   padding: 5px;
// }

figure {
  margin: 0;
  padding: 0;
  // line-height: 0rem;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1.0rem;
  margin: 0;
}

.challenge-block {
  color: #262626;
  margin: 45px 50px 45px 15px;
  border-left: 5px solid #ff3399;
  padding-left: 2.0rem;
  text-align: left;
  line-height: 3.5rem;
}

.exercise-block {
  color: #262626;
  margin: 45px 50px 45px 0px;
  border-left: 5px solid #fbcc9d;
  padding-left: 2.0rem;
  line-height: 2.5rem;
}
